---
import { Image } from 'astro:assets'
import cofeeSponsorship from '../assets/nav-logo-stroke.webp'
import servioSponsorLogo from '../assets/servio_sponsor.jpg'

const sponsorship = [
  {
    name: 'Empower EinarCLI With Monetary Help',
    img: cofeeSponsorship,
    url: 'https://ko-fi.com/einarcli',
    size: 'large'
  }
]

const sponsors = [
  {
    name: 'Servio Zambrano, Einar Expert',
    img: servioSponsorLogo,
    url: 'https://www.linkedin.com/in/servio-zambrano',
    size: 'large'
  }
]
//href={sponsorship.url}
---
<section>
  <h2>Sponsorship 🚀💰</h2>
  {sponsorship.map(sponsorship => (
    <a href="javascript:void(0);" onclick="my_modal_1.showModal()" class={sponsorship.size ?? ''}>
      {sponsorship.name}
      <article>
        <h4>{sponsorship.name}</h4>
        <Image height={sponsorship.size === 'large' ? 48 : 24} src={sponsorship.img} alt={sponsorship.name}/>
      </article>
    </a>
  ))}
</section>

<dialog id="my_modal_1" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Payment Channels</h3>
    <p class="py-4">Select a payment option to sponsor:</p>
    
    <!-- Payment Options Container -->
    <div class="py-2 flex justify-center space-x-4 items-center">
      <!-- Ko-fi Option -->
      <a href="https://ko-fi.com/einarcli" target="_blank" rel="noopener noreferrer" class="flex items-center">
        <span class="text-lg font-bold ">Ko-fi</span>
        <img src={cofeeSponsorship.src} alt="Ko-fi Sponsorship" class="h-12" />
      </a>
      
      <!-- Mercado Pago Option -->
      <a href="https://mpago.la/2vxyFhn" target="_blank" rel="noopener noreferrer" class="flex items-center">
        <span class="text-lg font-bold ">MERCADO PAGO</span>
        <img src="https://http2.mlstatic.com/frontend-assets/auth-login-frontend/4ea367c6c0eedeb0ae63.svg" alt="Mercado Pago" class="h-12" />
      </a>
      

    <div class="modal-action">
      <button class="btn" onclick="document.getElementById('my_modal_1').close()">Close</button>
    </div>
  </div>
</dialog>







<section>
    <h2>Top Sponsors ⭐</h2>
    {sponsors.map(sponsor => (
      <a href={sponsor.url} class={sponsor.size ?? ''}>
        {sponsor.name}
        <article>
          <h4>{sponsor.name}</h4>
          <Image height={sponsor.size === 'large' ? 48 : 24} src={sponsor.img} alt={sponsor.name}/>
        </article>
      </a>
    ))}
</section>
  
  <style>
    section {
      display: flex;
      flex-wrap: wrap;
      border-radius: 0.75rem;
      overflow: hidden;
      gap: 0.25rem;
      width: 100%;
      margin-top: 1rem;
    }
    a {
      width: 34%;
      flex-grow: 1;
    }
    a.large {
      width: 100%;
    }
    article {
      display: flex;
      background-color: var(--sl-color-gray-6);
      justify-content: center;
      align-items: center;
      padding: 1.5rem;
      width: 100%;
    }
    article:hover {
      background-color: var(--sl-color-gray-1);
    }
    h4 {
      position: absolute;
      width: 1px;
      height: 1px;
      white-space: nowrap;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      overflow: hidden;
    }
    /* Remove the grayscale filter in dark mode */
    :root[data-theme='dark'] article :global(img) {
      filter: none;
    }
  </style>